# This will run the refresh script every 5 minutes
# Running this script will update your statuspage
# And the monitors on it, and their current
# Status from UptimeRobot

*/5 * * * * /bin/bash /your-path-to/refresh.sh
